ul,
li{
margin: 0;
padding: 0;
list-style-type: none;
}
.menu{
  display: flex;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  column-gap: 10px;
}
.form >div{
  margin-bottom: 10px;
}
.form > div > label {
  display: block;
}

.form > div > input,textarea{
  padding: 8px;
}
.button{
  background-color:rgb(224, 153, 153);
  padding: 10px;
}